@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


.card__button {
  padding: 10px 20px;
  border-radius: 50px;
  background: transparent;
  color: white;
  border: solid 2px #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 50px auto;
  transition: .4s;
}

.card__button:hover {
  background: #fff;
  color: #9eebcf;
  transition: .4s;
}